<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Register</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeReg()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doReg()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="regData.username">
        </label>
          <label class="item item-input">
          <span class="input-label">Email ID</span>
          <input type="email" ng-model="regData.email">
        </label>
          <label class="item item-input">
          <span class="input-label">Mobile Number</span>
          <input type="text" ng-model="regData.mobile">
        </label>
          <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="regData.password">
        </label>
        <label class="item item-input">
          <span class="input-label">Confirm Password</span>
          <input type="password" ng-model="regData.password2">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Sign up</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>

